<% if (item.cover_image){ %>
  <div class="col-12 mb-4">
    <img class="img-fluid project-img" src="<%- config.root %><%- item.cover_image %>" alt="<%- item.title || "Untitled" %>">
  </div>
<% } %>
<div class="col-xs-12 col-md-12 col-lg-8 pt-lg-3 mb-4 portfolio-content">
  <%- item.content %>
</div>
