<% page.posts.forEach(function(item){ %>
    <%- partial('_partial/portfolio-index', {item: item}) %>
<% }); %>

<div class="col-12 mb-4 mb-sm-0 mt-sm-3 mt-md-3">
  <div class="legal">
    <p>© 2018 Delfina Mayer</p>
    <p>Stills and video content are copyright of the respective production companies.</p>
    <p>Hexo theme <a href="https://github.com/sharvaridesai/hexo-theme-edinburgh" target="_blank" rel="external">"Edinburgh"</a> by Sharvari Desai.</p>
  </div>
</div>
